@media (max-width:700px){
    .title{
        font-size:50px;
    }
}


body{
    width: 100%;
    background-color: darkslategrey;
    color: aqua;
}

h1{
    font-size: 8rem;
    font-family: 'Satisfy', cursive;
    text-align: center;
}

p{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
}

img{
    width: 100%;
}

.grid-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 9rem;
}

.btn{
    margin-left:48%;
    display: inline-block;
}
